<div id="preloader"></div>
		<div class="up">
			<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
		</div>

	<header id="ft-header" class="ft-header-section header-style-two">
		<div class="ft-header-top">
			<div class="container">
				<div class="ft-header-top-content d-flex justify-content-between align-items-center">
					<div class="ft-header-top-cta ul-li">
						<ul>
							<li><i class="fal fa-envelope"></i></li>
							
						</ul>
					</div>
					<div class="ft-header-cta-info d-flex">
						
					</div>
				</div>
			</div>
		</div>
		<div class="ft-header-main-menu-wrapper">
			<div class="container">
				<div class="ft-header-main-menu-area position-relative">
					<div class="ft-header-main-menu d-flex align-items-center justify-content-between position-relative">
						<div class="ft-site-logo-area">
							<div class="ft-site-logo position-relative">
								<a href="/"><img src="/assets/img/logo/logo3.png" alt=""></a>
							</div>
						</div>
						<div class="ft-header-main-menu d-flex justify-content-end align-items-center">
							<nav class="ft-main-navigation clearfix ul-li">
								<ul id="ft-main-nav" class="nav navbar-nav clearfix">
									<li>
										<a href="/">Home</a>
										
									</li>
									<li><a href="/about">About</a></li>
									<li>
										<a href="/services">Service</a>
										
									</li>
									<li>
										<a href="/contact">Contact</a>

									</li>

								</ul>
							</nav>
							<div class="ft-header-cta-btn">
								<a class="d-flex justify-content-center align-items-center" href="index-2.html#div-id">Track</a>
							</div>
						</div>
					</div>
					<div class="mobile_menu position-relative">
						<div class="mobile_menu_button open_mobile_menu">
							<i class="fal fa-bars"></i>
						</div>
						<div class="mobile_menu_wrap">
							<div class="mobile_menu_overlay open_mobile_menu"></div>
							<div class="mobile_menu_content">
								<div class="mobile_menu_close open_mobile_menu">
									<i class="fal fa-times"></i>
								</div>
								<div class="m-brand-logo">
									<a href="%21.html#"><img src="/assets/img/logo/logo-white.png" alt=""></a>
								</div>
								<nav class="mobile-main-navigation  clearfix ul-li">
									<ul id="ft-main-nav" class="nav navbar-nav clearfix">
									<li>
										<a href="/">Home</a>
										
									</li>
									<li><a href="/about">About</a></li>
									<li>
										<a href="/services">Service</a>
										
									</li>
									<li>
										<a href="/contact">Contact</a>

									</li>

								</ul>
								</nav>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</header>



	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="assets/img/bg/bread-bg.jpg">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="/assets/img/shape/tmd-sh.png" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2>About</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="#">Home</a></li>
						<li>About</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	



	<section id="ft-about-2" class="ft-about-section-2">
		<div class="container">
			<div class="ft-about-content-2">
				<div class="row">
					<div class="col-lg-6">
						<div class="ft-about-text-wrapper-2">
							<div class="ft-section-title-2 headline pera-content">
								<span class="sub-title">About Company</span>
								
								
							</div>
							<div class="ft-about-feature-wrapper-2">
								<div class="row">
									<div class="col-lg-6">
										<div class="ft-about-feature-list-item d-flex align-items-center">
											<div class="ft-about-feature-icon d-flex align-items-center justify-content-center">
												<i class="fal fa-bullseye-arrow"></i>
											</div>
											<div class="ft-about-feature-text headline pera-content">
												<h3>Our Mission</h3>
												<p>Our mission is to be the preferred delivery service.
												</p>
											</div>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="ft-about-feature-list-item d-flex align-items-center">
											<div class="ft-about-feature-icon d-flex align-items-center justify-content-center">
												<i class="fal fa-bullseye-arrow"></i>
											</div>
											<div class="ft-about-feature-text headline pera-content">
												<h3>Our Vision</h3>
												<p>Our vision is to redefine logistics by offering our innovative solutions.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="ft-btn-3">
									<a class="d-flex justify-content-center align-items-center" href="/about">Explore More <i class="flaticon-right-arrow"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ft-about-img-2-wrapper position-relative">
							<span class="ft-about-shape1 position-absolute"><img src="/assets/img/shape/ab-sh1.png" alt=""></span>
							<span class="ft-about-shape2 position-absolute"><img src="/assets/img/shape/ab-sh2.png" alt=""></span>
							<div class="ft-about-img-2">
								<img src="/assets/img/about/ab2.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section id="ft-funfact" class="ft-funfact-section">
		<div class="container">
			<div class="ft-funfact-content">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="ft-funfact-innerbox text-center">
							<div class="ft-funfact-icon">
								<i class="fal fa-clipboard-list-check"></i>
							</div>
							<div class="ft-funfact-text headline pera-content">
								<h3><span class="counter">4500</span></h3>
								<p>Project Completed</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="ft-funfact-innerbox text-center">
							<div class="ft-funfact-icon">
								<i class="fal fa-users"></i>
							</div>
							<div class="ft-funfact-text headline pera-content">
								<h3><span class="counter">54</span>+</h3>
								<p>Active Members</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="ft-funfact-innerbox text-center">
							<div class="ft-funfact-icon">
								<i class="fas fa-trophy-alt"></i>
							</div>
							<div class="ft-funfact-text headline pera-content">
								<h3><span class="counter">14</span>+</h3>
								<p>Award Winning</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="ft-funfact-innerbox text-center">
							<div class="ft-funfact-icon">
								<i class="fal fa-medal"></i>
							</div>
							<div class="ft-funfact-text headline pera-content">
								<h3><span class="counter">100</span>%</h3>
								<p>Satisfaction Rate</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		
	


	<section id="ft-goodness-feature" class="ft-goodness-feature-section">
		<div class="container">
			<div class="ft-section-title-2 headline pera-content text-center">
				<span class="sub-title">Our Goodness</span>
				<h2>What  Make Us Special</h2>
				<p></p>
			</div>
			<div class="ft-goodness-featured-content">
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="ft-goodness-featured-innerbox text-center">
							<div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
								<i class="fal fa-anchor"></i>
							</div>
							<div class="ft-goodness-featured-text headline pera-content">
								<h3>Trusted Franchise</h3>
								<p>We are trusted by our partners, clients and customers</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="ft-goodness-featured-innerbox text-center">
							<div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
								<i class="fal fa-user-headset"></i>
							</div>
							<div class="ft-goodness-featured-text headline pera-content">
								<h3>Customer Support</h3>
								<p>24/7 customer support. All agents are readily available. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="ft-goodness-featured-innerbox text-center">
							<div class="ft-goodness-featured-icon d-flex align-items-center justify-content-center">
								<i class="fal fa-badge-sheriff"></i>
							</div>
							<div class="ft-goodness-featured-text headline pera-content">
								<h3>Reliability & Punctuality</h3>
								<p>We delivered all items in time</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section id="ft-video" class="ft-video-section">
		<div class="container">
			<div class="ft-video-content position-relative">
				<div class="ft-video-img-play-btn">
					<div class="ft-video-img">
						<img src="/assets/img/bg/v-bg.jpg" alt="">
					</div>
					<div class="ft-video-play">
						<a class="d-flex justify-content-center align-items-center position-relative video_box" href="https://www.youtube.com/watch?v=C4jjFanHZo8" target="_blank" rel="noopener">
							<i class="fas fa-play"></i>
							<span class="video_btn_border border_wrap-1"></span>
							<span class="video_btn_border border_wrap-2"></span>
						</a>
					</div>
				</div>
			</div>
		</div>		
	</section>	



	<br>
	<footer id="ft-footer-2" class="ft-footer-section-2" data-background="assets/img/bg/f-bg.png">
		<div class="ft-footer-copywrite-2 text-center">
		<span>Copyright @ 2023 Safefreight Way. All Rights Reserved</span>
		</div>
	</footer>		
	

	
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/appear.js"></script>
	<script src="/assets/js/slick.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/js/jquery.filterizr.js"></script>
	<script src="/assets/js/rbtools.min.js"></script>
	<script src="/assets/js/jquery.cssslider.min.js"></script>
	<script src="/assets/js/rs6.min.js"></script>
	<script src="/assets/js/knob.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/gmaps.min.js"></script>
	<script src="../external.html?link=https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6"></script>
	
	
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'edc8d27494997e1ef67aabd3a16ea6501416c598';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='../www.smartsuppchat.com/loaderd41d.js';s.parentNode.insertBefore(c,s);
})(document);
</script>