<div id="preloader"></div>
		<div class="up">
			<a href="#" class="scrollup text-center"><i class="fas fa-chevron-up"></i></a>
		</div>

	<header id="ft-header" class="ft-header-section header-style-two">
		<div class="ft-header-top">
			<div class="container">
				<div class="ft-header-top-content d-flex justify-content-between align-items-center">
					<div class="ft-header-top-cta ul-li">
						<ul>
							<li><i class="fal fa-envelope"></i></li>
							
						</ul>
					</div>
					<div class="ft-header-cta-info d-flex">
						
					</div>
				</div>
			</div>
		</div>
		<div class="ft-header-main-menu-wrapper">
			<div class="container">
				<div class="ft-header-main-menu-area position-relative">
					<div class="ft-header-main-menu d-flex align-items-center justify-content-between position-relative">
						<div class="ft-site-logo-area">
							<div class="ft-site-logo position-relative">
								<a href="/"><img src="/assets/img/logo/logo3.png" alt=""></a>
							</div>
						</div>
						<div class="ft-header-main-menu d-flex justify-content-end align-items-center">
							<nav class="ft-main-navigation clearfix ul-li">
								<ul id="ft-main-nav" class="nav navbar-nav clearfix">
									<li>
										<a href="/">Home</a>
										
									</li>
									<li><a href="/about">About</a></li>
									<li>
										<a href="/services">Service</a>
										
									</li>
									<li>
										<a href="/contact">Contact</a>

									</li>

								</ul>
							</nav>
							<div class="ft-header-cta-btn">
								<a class="d-flex justify-content-center align-items-center" href="index-2.html#div-id">Track</a>
							</div>
						</div>
					</div>
					<div class="mobile_menu position-relative">
						<div class="mobile_menu_button open_mobile_menu">
							<i class="fal fa-bars"></i>
						</div>
						<div class="mobile_menu_wrap">
							<div class="mobile_menu_overlay open_mobile_menu"></div>
							<div class="mobile_menu_content">
								<div class="mobile_menu_close open_mobile_menu">
									<i class="fal fa-times"></i>
								</div>
								<div class="m-brand-logo">
									<a href="%21.html#"><img src="/assets/img/logo/logo4.png" alt=""></a>
								</div>
								<nav class="mobile-main-navigation  clearfix ul-li">
<ul id="ft-main-nav" class="nav navbar-nav clearfix">
									<li>
										<a href="/">Home</a>
										
									</li>
									<li><a href="/about">About</a></li>
									<li>
										<a href="/services">Service</a>
										
									</li>
									<li>
										<a href="/contact">Contact</a>

									</li>

								</ul>
								</nav>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</header>



	<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="assets/img/bg/bread-bg.jpg">
		<span class="background_overlay"></span>
		<span class="design-shape position-absolute"><img src="/assets/img/shape/tmd-sh.png" alt=""></span>
		<div class="container">
			<div class="ft-breadcrumb-content headline text-center position-relative">
				<h2>Contact</h2>
				<div class="ft-breadcrumb-list ul-li">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Contact</li>
					</ul>
				</div>
			</div>
		</div>
	</section>	



	<section id="ft-contact-page" class="ft-contact-page-section page-padding">
		<div class="container">
			<div class="ft-contact-page-content">
				<div class="row">
					<div class="col-lg-6">
						<div class="ft-contact-page-text-wrapper">
							<div class="ft-section-title-2 headline pera-content">
								<span class="sub-title">Get a Quote</span>
								<h2>Get in Touch And We will Help
									Your Business
								</h2>
							</div>
							<div class="ft-contact-page-contact-info">
								<div class="ft-contact-cta-items d-flex">
									<div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
										<i class="fal fa-map-marker-alt"></i>
									</div>
									<div class="ft-contact-cta-text headline pera-content">
										<h3>Office address</h3>
										<p>7522 Maie Ave, Los Angeles, CA 90001, United States</p>
									</div>
								</div>
								<div class="ft-contact-cta-items d-flex">
									<div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
										<i class="fas fa-phone-alt"></i>
									</div>
									<div class="ft-contact-cta-text headline pera-content">
										<h3>Telephone number</h3>
										<p>+16122037018</p>
									</div>
								</div>
								<div class="ft-contact-cta-items d-flex">
									<div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
										<i class="far fa-envelope"></i>
									</div>
									<div class="ft-contact-cta-text headline pera-content">
										<h3>Mail address</h3>
										<p></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="ft-contact-page-form-wrapper headline">
							<h3 class="text-center">Get a Quote</h3>
							<form action="../external.html?link=https://html.themexriver.com/fastrans/contact.php">
								<div class="row">
									<div class="col-lg-6">
										<input type="text" name="name" placeholder="Your Name">
									</div>
									<div class="col-lg-6">
										<input type="email" name="email" placeholder="Your Email">
									</div>
									<div class="col-lg-6">
										<input type="text" name="affi" placeholder="Affiliation">
									</div>
									<div class="col-lg-6">
										<input type="text" name="number" placeholder="Number">
									</div>
									<div class="col-lg-6">
										<input type="text" name="department" placeholder="Inquiry Department">
									</div>
									<div class="col-lg-6">
										<input type="text" name="date" placeholder="Date">
									</div>
									<div class="col-lg-12">
										<textarea name="message" placeholder="Your Message"></textarea>
									</div>
									<div class="col-lg-12">
										<button> Book An Appointmet</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>		
	


	<br>
	<footer id="ft-footer-2" class="ft-footer-section-2" data-background="assets/img/bg/f-bg.png">
		<div class="ft-footer-copywrite-2 text-center">
			<span>Copyright @ 2023 Safefreight Way. All Rights Reserved</span>
		</div>
	</footer>	
	


	
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/appear.js"></script>
	<script src="/assets/js/slick.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/jquery.nice-select.min.js"></script>
	<script src="/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/assets/js/wow.min.js"></script>
	<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
	<script src="/assets/js/jquery.filterizr.js"></script>
	<script src="/assets/js/rbtools.min.js"></script>
	<script src="/assets/js/jquery.cssslider.min.js"></script>
	<script src="/assets/js/rs6.min.js"></script>
	<script src="/assets/js/knob.js"></script>
	<script src="/assets/js/script.js"></script>
	<script src="/assets/js/gmaps.min.js"></script>
	<script src="../external.html?link=https://maps.googleapis.com/maps/api/js?key=AIzaSyDk2HrmqE4sWSei0XdKGbOMOHN3Mm2Bf-M&amp;ver=2.1.6"></script>
	
	
	
	
	
	
	
	
<script type="text/javascript">
var _smartsupp = _smartsupp || {};
_smartsupp.key = 'edc8d27494997e1ef67aabd3a16ea6501416c598';
window.smartsupp||(function(d) {
  var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
  s=d.getElementsByTagName('script')[0];c=d.createElement('script');
  c.type='text/javascript';c.charset='utf-8';c.async=true;
  c.src='../www.smartsuppchat.com/loaderd41d.js';s.parentNode.insertBefore(c,s);
})(document);
</script>